%h1 Saving objects...
.container
  %meta{:content => "5", "http-equiv" => "refresh"}

  %b= "This page will refresh automatically in 5 seconds."
  
  %h2 Processed #{@file_import.processed.to_f}/#{@file_import.total.to_f}
  .progress.progress-striped.active{style: "width: 50%;"}
    - if @file_import.total == 0
      .bar{style: "width: 100%;"}
    - else
      .bar{style: "width: #{(@file_import.processed.to_f/@file_import.total.to_f)*100 + 1}%;"}
    






